{% extends "layout.html" %}
{% block content %}
<h3>Expertise</h3>
  <p>I employ analytical tools from different linguistic subfields in order to make sense of messy, sometimes ambiguous language data.  Although my focus is in phonology, I also have background in 
  many other areas of linguistics.  The list below provides a good overview of my specialties.</p>
	<div>
	  <ul>
	    <li>Phonology
		    <ul>
		      <li>Autosegmental phonology and Feature Geometry</li>
		      <li>Phonotactics</li>
			    <li>Syllable structure and preference laws</li>
			    <li>Optimality Theory</li>
		    </ul>
		  </li>
		  <li>Phonetics
		    <ul>
			    <li>Praat</li>
			    <li>Spectrogram analysis</li>
			    <li>Transcription</li>
			  </ul>
		  </li>
		  <li>Second Language Acquisition
		    <ul>
			    <li>Lexical encoding of non-native sounds</li>
			    <li>Models of transfer and grammar construction</li>
			    <li>Experimental design</li>
			    <li>Research methods</li>
			  </ul>
		  </li>
		  <li>Morphology
		    <ul>
			    <li>Suppletive allomorphy</li>
			    <li>Morphological derivation</li>
			    <li>Compounding</li>
			  </ul>
		  </li>
		  <li>Syntax
		    <ul>
			    <li>General phrase structure</li>
			    <li>English syntax</li>
			    <li>German syntax</li>
			    <li>Annotation</li>
			  </ul>
		  </li>
		  <li>Pragmatics
		    <ul>
			    <li>Speech in context</li>
			    <li>T-V pronoun selection</li>
			  </ul>
		  </li>
		  <li>Teaching
		    <ul>
			    <li>Foreign langauge pedagogy</li>
			    <li>Incorporating technology into the classroom</li>
			    <li>Course and syllabus design</li>
			    <li>Language learning outside the traditional academic environment</li>
			  </ul>
		  </li>		
		</ul>
	</div>
{% endblock %}