{% extends "layout.html" %}
{% block content %}
<h3>My interests</h3>
  <p>As a phonologist, I investigate how sounds pattern in the languages of the world. I am interested in using my expertise to develop innovative approaches to technical, language related problems. Recently I have begun working with Python and the Natural Language Toolkit in order to begin incorporating computational tools into my linguistics projects.</p>
  <p>Outside of phonology I have experience in many linguistic subfields, including laboratory phonology/phonetics, morphology, syntax, pragmatics, and second language studies. </p>
  <p>I can help you with a range of projects including naming, transcription, annotation, spectrogram analysis, stemming, and <a href="{{ url_for('expertise') }}">many more</a>.  If you have a linguistics related problem or project that you would like some help with, feel free to <a href="{{ url_for('email') }}">contact me</a>!</p>
{% endblock %}