{% extends "layout.html" %}
{% block content %}
<h3>Research</h3>      
  <p>Below you will find a list of my publications and conference presentations.  If you would like a copy of an article or a handout, please <a href="{{ url_for('email') }}">contact me</a> and I will be happy to send one your way.</p>	
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Dissertation</th>                                
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p class="hangingIndent">Glover, Justin. ‘Liquid vocalizations in German dialects.’  Tracy Alan Hall, advisor.  Expected date of  defense: April 2014.</p></td>    
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Articles in refereed journals</th>                      
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p class="hangingIndent">Darcy, I., Dekydtspotter, L., Sprouse, R., Glover, J., Kaden, C., McGuire, M., and Scott, J.H.G. (2012). ‘Direct mapping of acoustics to phonology: on the lexical encoding of front rounded vowels in L1 English-L2 French acquisistion.’ <em>Second Language Research</em> 28.1:  5-40.</p></td>    
        </tr>
        <tr>          
          <td><p class="hangingIndent">Glover, J. (2011a). ‘An analysis of Old Norse pronominal address shifting in <em>Heimskringla</em>.’ <em>European Journal of Scandinavian Studies</em> 41.1: 27-48.</p></td>          
        </tr>
        <tr>
          <td><p class="hangingIndent">Glover, J. (2011b). ‘G-spirantization and lateral ambivalence in Northern German dialects.’ <em>Journal of Germanic Linguistics</em> 23.2: 183-193.</p></td>          
        </tr>
        <tr>  
          <td><p class="hangingIndent">Glover, J. and Hall, T. A. (2009). ‘The historical development of /g/ and /b/ in a German dialect.’ <em>Folia Linguistica Historica</em> 30: 1-28.</p></td>        
        </tr>  
      </tbody>
      <thead>
        <tr>
          <th>Articles in working papers volumes</th>                      
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p class="hangingIndent">Glover, J. (2012). ‘Underspecification and the Distribution of Gottschee German Laterals.’ <em>Tampa Papers in Linguistics</em> 3: 53-65.</p></td>    
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Conference papers</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p class="hangingIndent">Glover, Justin. (2013). ‘Evidence from Standard German for morphological input constraints.’ The Tenth Annual Southeast Coastal Conference on Languages and Literatures [SECCLL 10]. Savannah, Georgia. April 5, 2013.</p></td>    
        </tr>
        <tr>
          <td><p class="hangingIndent">Glover, Justin. (2013). ‘Liquids and Dorsal Fricative Assimilation in Kiel German.’ The Fourth Annual Tampa Linguistics Workshop [TAW 4]. Tampa, Florida. March 21, 2013.</p></td>    
        </tr>
        <tr>
          <td><p class="hangingIndent">Glover, Justin (2012). ‘Dorsal Fricative Assimilation and the coronality of Standard German /ʀ/.’ Germanic Linguistics Annual Conference 18 [GLAC 19].  Bloomington, Indiana. April 26, 2012.</p></td>    
        </tr>
        <tr>
          <td><p class="hangingIndent">Glover, Justin (2012). ‘Coronal Dissimilation in Gottschee German.’  The Third Annual Tampa Workshop on Syntax, Semantics, and Phonology [TAW 3]. Tampa, Florida. March 9, 2012.</p></td>    
        </tr>
        <tr>
          <td><p class="hangingIndent">Glover, Justin (2009). ‘Opacity in Kranichfeld German.’ Philologists in Germanic Studies at Indiana and Illinois. Indiana University. Novermber 14, 2009.</p></td>   
        </tr>
        <tr>
          <td><p class="hangingIndent">Glover, Justin (2009). ‘An Optimality Theoretic account of dorsal obstruent alternations in Kranichfeld German.’ The Fifteenth Annual Mid-Continental Workshop on Phonology. Indiana University [MCWOP 15]. October 9, 2009.</p></td>   
        </tr>
        <tr>
          <td><p class="hangingIndent">Glover, Justin (2009). ‘G-spirantization and lateral ambivalence in Kiel German.’ Germanic Linguistics Annual Conference 15 [GLAC 15].  Banff, Alberta, Canada.  May 2, 2009.</p></td>   
        </tr>
        <tr>
          <td><p class="hangingIndent">Glover, Justin (2009). ‘A phonological analysis of /g/ in Kiel German.’ The Department of Germanic Studies Seventh Biennial Graduate Student Conference.  Indiana University.  February 21, 2009.</p></td>   
        </tr>
        <tr>
          <td><p class="hangingIndent">Glover, Justin (2007). ‘Identities in flux: pronominal address shifting in <em>Heimskringla</em>.’
          The Department of Germanic Studies Sixth Biennial Graduate Student  Conference. Indiana University.  February 17, 2007.</p></td>   
        </tr>
        <tr>
          <td><p class="hangingIndent">Glover, Justin (2006). ‘On Old Norse pronominal forms of address: switching between  <em>þú</em> and <em>þér</em>.’ Philologists in Germanic Studies at Indiana and Illinois. Indiana  University.  November 11, 2006.</p></td>   
        </tr>
    </table>    
{% endblock %}